.home {
    background-image: url("../../assets/background.png");
    /* background-image: url("https://media.istockphoto.com/id/1133320303/vector/abstract-blue-and-orange-vector-background.jpg?s=612x612&w=0&k=20&c=gpLUqc1B2eHzwhaGfnTplWnFcKihNVXghZ1JCM40zEw="); */
    height: 670px;
    background-size: contain;
}

.home h1 {
    text-align: center;
    padding-top: 50px;
}

.home table {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.home tr {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: lightyellow;
    text-align: center;
    border-bottom: 1px solid navy;
}