*{
    margin: 0px;
}

.nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(45, 29, 164);
    border-bottom: 2px solid white;
    align-items: center;
}

.nav h1 {
    padding: 20px 0px;
    text-align: left;
    color: white;
    padding-left: 80px;
}

.nav h2 {
    font-size: medium;
    text-align: right;
    padding-right: 30px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

